.Alert {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 340px;
  height: 65px;
  background-color: rgb(175, 74, 74);
  color: white;
  border-radius: 5px;
  text-align: center;
}

.AlertMessage {
  display: inline-block;
  padding: 10px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 20px;
}
