.listItem {
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  margin-top: 25px;
  box-shadow: 5px 5px 5px 5px rgba(29, 29, 87, 0.2);
  background-color: #49e6eb;
}

.itemLink {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: black;
}

.dataPerson {
  width: 220px;
  font-size: 18px;
  font-weight: 600;
}

.dataPersonNumber{
  margin-left: 20px;
}

.buttonRemove {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background-color: rgb(240, 50, 50);
  color: #fff;
  cursor: pointer;
  font-size: 30px;
}

button:hover {
  background-color: rgb(216, 150, 7);
}

@media (max-width: 767px) {
  .listItem {
    letter-spacing: 2px;
  }

  .itemLink {
    flex-direction: column;
  }

  .dataPerson {
    font-size: 20px;
    width: auto;
  }

  .dataPersonNumber{
    margin-left: 0;
  }
}
