.Layout {
    min-height: 100vh;
    width: 100%;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

a:hover{
    text-decoration: none;
}
  
input {
    height: 40px;
    margin: 5px 0;
    border: none;
    border-radius: 8px;
}

@media (max-width: 767px) {
    /* .wrapper {
      padding-right: 10px;
    } */
}  