.wrapperFilter {
    font-family: "Roboto", sans-serif;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 5px 18px 8px rgba(161, 161, 255, 1);
    font-weight: bold;
  }

  .labelMarkup {
    width: 100%;
    font-size: 30px;
  }

  .filterField {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
  }
  

  @media (max-width: 767px) {
    .wrapperFilter {
      margin: 20px;
    }

    .labelMarkup {
      font-size: 20px;
    }

    .filterField {
        width: 100%;
        font-size: 14px;
      }
  }