.wrapper{
    width: 50%;
    float: left;
    margin-right: 30px;

}

@media (min-width: 767px){
    .wrapper{
        width: 82%;
        display: flex;
        justify-content: space-between;
    }
}