.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px 0;
    font-size: 18px;
  }

  @media (max-width: 767px) {
    .navigation {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      font-size: 18px;
    }
  }
  