.WrapperUserMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  right: 0;
}

.BlockName {
  padding: 5px;
  margin-left: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}
.ButtonLogOut {
  margin: 7px;
  font-size: 20px;
  color: rgb(1, 1, 31);
  background-color: rgb(186, 186, 216);
  border-radius: 9999px;
}

.WrapperAvatar {
  width: 70px;
  height: 70px;
  position: relative;
}

.InputAvatar {
  position: absolute;
  width: 100%;
  height: 100%;

  right: 0;
  top: 0;

  opacity: 0;
}

.Avatar {
  display: block;
  border-radius: 9999px;
}

@media (min-width: 767px) {
  .WrapperUserMenu {
    position: inherit;
    flex-direction: inherit;
    text-align: center;

    margin: 0 30px;
  }
  .ButtonLogOut {
    margin-left: 20px;

    font-size: 20px;
  }
}
